#root {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.admin-header-title {
  padding-right: 32px;
}

.admin-header-title + .MuiTabs-root {
  flex-grow: 1;
}
.admin-header-title + .MuiTabs-root a.MuiTab-root,
.admin-header-title + .MuiTabs-root button.MuiTab-root {
  min-width: initial !important;
  min-height: 56px !important;
}

@media (min-width: 600px) {
  .admin-header-title + .MuiTabs-root a.MuiTab-root,
  .admin-header-title + .MuiTabs-root button.MuiTab-root {
    min-width: initial !important;
    min-height: 64px !important;
  }
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border: 2px solid white;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-corner {
  -webkit-appearance: none;
}

.scroll-table-y > .MuiToolbar-root + div > div > div {
  max-height: calc(100vh - 140px);
  overflow-y: auto;
}
