h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #000;
}

body {
  color: #444;
  font-weight: 300;
  line-height: 1.4em;
}

pre {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  color: #666;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

pre > code {
  background-color: transparent;
  color: #666;
}

code {
  background-color: #fff0f0;
  color: #dd2200;
}
/**
  * Layout
  */
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 1em 2em;
}

.reward-container {
  min-height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.reward-container,
.reward-container h1,
.reward-container h3 {
  color: white;
}

.home-actions {
  margin-top: 45px;
}

.home-actions a {
  border: solid 2px white;
  color: #fff;
  padding: 20px;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.2s linear;
  text-decoration: none !important;
  white-space: nowrap;
  box-sizing: border-box;
  display: inline-block;
}

.home-actions a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 465px) {
  .home-actions {
    margin-top: 25px;
  }
  .home-actions a {
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding: 10px 20px;
  }
}
/**
  * Map module
  */
.map-container {
  height: 100%;
  width: 100%;
}

.map-marker {
  font-family: "Khand", sans-serif !important;
  text-align: center;
  font-size: 14px;
  width: 230px;
  color: white;
}

.map-marker h1,
.map-marker h3 {
  color: white;
  font-weight: bold;
  white-space: nowrap;
}

#iw-container {
  border-radius: 5px;
  padding: 15px;
  max-width: calc(100% - 10px);
}

@media (max-width: 374px) {
  #iw-container {
    padding: 5px !important;
  }
  .map-marker h1,
  .map-marker h3 {
    white-space: initial !important;
  }
}

.gm-style .gm-style-iw-c {
  padding: 0 !important;
}

.gm-style-iw-d {
  overflow: initial !important;
}

.gm-style-iw {
  top: 2px !important;
  left: 27px !important;
  box-shadow: 0 1px 6px #730d0d;
  border: 1px solid #730d0d;
  border-radius: 5px;
}

.gm-style .gm-style-iw-t::after {
  top: 0px !important;
  box-shadow: -1px 1px 1px 0 #730d0d !important;
  background: linear-gradient(45deg, #730d0d 0%, #000 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
}

.gm-style-iw.gm-style-iw-c .gm-ui-hover-effect {
  display: none !important;
}

/**
 /* Confirmation Module
 /**/
.confirmation-container {
  min-height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.confirmation-container h1 {
  line-height: 1em;
}

.confirmation-field {
  margin-bottom: 24px;
}

.confirmation-field > label {
  margin-bottom: 12px;
  display: block;
  white-space: nowrap;
  font-weight: 600;
}

.confirmation-container h1,
.confirmation-field > label {
  background: -webkit-linear-gradient(45deg, #000, #730d0d 20%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.confirmation-field.validation > input[type="text"] {
  border-color: #dd4b39;
}

.confirmation-error {
  overflow: hidden;
  transition: all 0.2s linear;
  color: #dd4b39;
  margin-top: 10px;
  font-weight: bold;
}

.confirmation-field:not(.validation) > .confirmation-error {
  max-height: 0 !important;
  margin-top: 0 !important;
}

.confirmation-radio-container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin: 6px 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.2s linear;
  font-size: 20px;
  line-height: 1.5;
}

.confirmation-field.validation .confirmation-radio-container {
  color: #dd4b39;
}

/* Hide the browser's default radio button */
.confirmation-radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.confirmation-radio-container .checkmark {
  position: absolute;
  top: 2.5px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.confirmation-radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.confirmation-radio-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.confirmation-radio-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.confirmation-radio-container .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/* LinkButton */
.lb-root {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.lb-blue {
  color: #1599bc !important;
}
.lb-underline {
  text-decoration: underline;
}
.lb-disabled {
  color: rgba(0, 0, 0, 0.36) !important;
  cursor: initial !important;
}
