h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

body {
  color: #444;
  font-weight: 300;
  line-height: 1.4em;
}

pre {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  color: #666;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

pre > code {
  background-color: transparent;
  color: #666;
}

code {
  background-color: #fff0f0;
  color: #dd2200;
}
/**
  * Layout
  */
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 1em 2em;
}

.reward-container {
  min-height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.reward-container,
.reward-container h1,
.reward-container h3 {
  color: white;
}

.home-actions {
  margin-top: 45px;
}

.home-actions a {
  border: solid 2px white;
  color: #fff;
  padding: 20px;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.2s linear;
  text-decoration: none !important;
  white-space: nowrap;
  box-sizing: border-box;
  display: inline-block;
}

.home-actions a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 465px) {
  .home-actions {
    margin-top: 25px;
  }
  .home-actions a {
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding: 10px 20px;
  }
}
/**
  * Map module
  */
.map-container {
  height: 100%;
  width: 100%;
}

.map-marker {
  font-family: "Khand", sans-serif !important;
  text-align: center;
  font-size: 14px;
  color: white;
  border-radius: 5px;
  padding: 15px;
}

.map-marker h1,
.map-marker h3,
.map-marker a {
  color: white;
}

.map-marker h1,
.map-marker h3 {
  font-weight: 600;
  white-space: nowrap;
  margin-top: 0;
}

@media (max-width: 374px) {
  .map-marker {
    padding: 5px !important;
    font-size: 12px;
  }
  .map-marker .hide-xs {
    display: none;
  }
  .map-marker h1,
  .map-marker h3 {
    white-space: initial !important;
  }
}

.map-directions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-directions svg {
  font-size: 3rem;
}

.gm-style .gm-style-iw-c {
  padding: 0 !important;
}

.gm-style-iw-d {
  overflow: initial !important;
}

.gm-style-iw {
  top: 2px !important;
  left: 27px !important;
  box-shadow: 0 1px 6px #730d0d;
  border: 1px solid #730d0d;
  border-radius: 5px;
}

.gm-style .gm-style-iw-t::after {
  top: 0px !important;
  box-shadow: -1px 1px 1px 0 #730d0d !important;
  background: linear-gradient(45deg, #730d0d 0%, #000 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
}

.gm-style-iw.gm-style-iw-c .gm-ui-hover-effect {
  display: none !important;
}

/**
 /* Confirmation Module
 /**/

.bg-text {
  background: -webkit-linear-gradient(45deg, #000, #730d0d 5%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* LinkButton */
.lb-root {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.lb-blue {
  color: #1599bc !important;
}
.lb-underline {
  text-decoration: underline;
}
.lb-disabled {
  color: rgba(0, 0, 0, 0.36) !important;
  cursor: initial !important;
}

.pt-80 {
  padding-top: 80px;
}
