@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,300italic");
@import url("https://fonts.googleapis.com/css?family=Khand:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald");

/* Base */
html,
body,
main {
  height: 100%;
  margin: 0;
  padding: 0;
}

.bg-gradient,
.gm-style-iw,
.bg-radio input:checked ~ [class*="radio-group-checkmark"],
.bg-button,
.home-welcome,
.reward-container,
.bg-black-red {
  background-image: -o-linear-gradient(45deg, #000, #730d0d 50%);
  background-image: -webkit-linear-gradient(45deg, #000, #730d0d 50%);
  background-image: -moz-linear-gradient(45deg, #000, #730d0d 50%);
  background-image: -ms-linear-gradient(45deg, #000, #730d0d 50%);
  background-image: linear-gradient(45deg, #000, #730d0d 50%);
}

.bg-button {
  font-family: "Khand", sans-serif !important;
  border: none !important;
  font-size: 16px;
  padding: 10px 15px;
  position: relative;
  outline: none;
  transition: all 0.2s linear;
  display: inline-block;
  text-decoration: none !important;
}

.bg-button:disabled > div {
  opacity: 0.4;
}

.bg-button:not(:disabled) {
  cursor: pointer;
}

.bg-button div {
  background: -webkit-linear-gradient(45deg, #000, #730d0d 50%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 1;
  font-weight: 600;
  transition: all 0.2s linear;
}

.bg-button:after {
  content: "";
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  background-color: white;
  transition: all 0.2s linear;
}

.bg-button:not(:active):not(:focus):not(:disabled):hover:after {
  background-color: initial !important;
}

.bg-button:active:after,
.bg-button:focus:after {
  background-color: rgba(255, 255, 255, 0.7);
}

.bg-button:not(:active):not(:focus):not(:disabled):hover div {
  background: none !important;
  -webkit-background-clip: initial !important;
  background-clip: initial !important;
  -webkit-text-fill-color: initial !important;
  color: white !important;
}

input.bg-input {
  font-family: "Khand", sans-serif !important;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.4em;
  text-align: center;
  padding: 4px;
  outline: none;
  border-style: solid;
  border-width: 1px;
  transition: all 0.2s linear;
  margin-bottom: 5px;
}

input.bg-input {
  display: block;
  box-sizing: content-box;
}

[class*="login-root"] *:-webkit-autofill,
[class*="login-root"] *:-webkit-autofill:hover,
[class*="login-root"] *:-webkit-autofill:focus,
[class*="login-root"] *:-webkit-autofill,
[class*="login-root"] *:-webkit-autofill:hover,
[class*="login-root"] *:-webkit-autofill:focus,
[class*="login-root"] *:-webkit-autofill,
[class*="login-root"] *:-webkit-autofill:hover,
[class*="login-root"] *:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #212121 inset;
}

#fp-nav ul li a span {
  transition: background linear 0.3s;
}

.fp-viewing-home #fp-nav ul li a span,
.fp-viewing-reward #fp-nav ul li a span {
  background: #fff;
}
